.container {
	background-color: #ffffff;
	width:960px;
}

header {
	border-bottom-width: 2px;
	border-bottom-style: solid; 
	border-bottom-color: #dddddd;
	display: inline-block;
	width:960px;
}

.name-box {
	background-color:#4aaaa5; 
	height:80px;
	width:300px;
	padding: 10px;
	margin:5px 150px 0px 110px;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	color: white;
	text-align: center;
	float:left;
}

ul.navigation-bar {
	list-style-type: none;
	margin:30px 0px 30px 0px;
	background-color:#ffffff;
}

ul.navigation-bar li {
	float:left;
}

ul.navigation-bar li a {
	display: inline-block;
	color:#777777;
	text-align: center;
	padding: 0px 15px;
	border-right:1px solid #dddddd;
	text-decoration: none;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 17px;
}

ul.navigation-bar li: last-child a{
	border-right: none;
}

.content {
	background-image:url("assets/images/marble.png");
	background-color:#ffffff;
	width:960px;
}

.main {
	background-color:#ffffff;
	width:650px;
	float:left;
}

.about {
	padding: 10px;
	text-align: left;
	font-family:'Georgia', Times, "Times New Roman", serif;
	color:#4aaaa5;
	border-bottom-width: 2px;
	border-bottom-style: solid; 
	border-bottom-color: #dddddd;
}

.description {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	line-height: 1.5;
	padding:10px;
}

img.me {
	margin:10px;
	float:left;
}

.sidebar {
	width:270px;
	float:left;
}

.connect {
	font-family:'Georgia', Times, "Times New Roman", serif;
	color:#4aaaa5;
	padding: 2px;
	border-bottom-width: 2px;
	border-bottom-style: solid; 
	border-bottom-color: #dddddd;

}

.icons {
	padding:10px;
}

footer {
	text-align: center;
	background-color:#666666;
	width:960px;
	height: 80px;
	padding:30px 10px 0px 10px;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: small;
	border-top-width: 10px;
	border-top-style: solid; 
	border-top-color: #4aaaa5;
	clear: both;
}
