.container {
	width:100%;
	background-image: url("assets/images/marble.png");
}

header {
	border-bottom-width: 2px;
	border-bottom-style: solid; 
	border-bottom-color: #dddddd;
	background-color:#ffffff;
	z-index: 1;
	height:100px;
	width: 100%;
}

.name-box {
	background-color:#4aaaa5; 
	padding: 30px;
	margin:10px 340px 0px 180px;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	font-size: 30px;
	font-style: bold;
	color: white;
	text-align: center;
	float:left;
}

ul.navigation-bar {
	list-style-type: none;
	padding:50px 0px 0px 0px;
	background-color:#ffffff;
}

ul.navigation-bar li {
	float:left;
}

ul.navigation-bar li a {
	display: inline-block;
	color:#777777;
	text-align: center;
	padding: 0px 15px;
	border-right:1px solid #dddddd;
	text-decoration: none;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 17px;
}

ul.navigation-bar li:last-child a{
	border-right: none;
}

.content {
	background-color:#ffffff;
	width:960px;
}

.main {
	background-color:#ffffff;
	margin:40px 40px 40px 180px;
	padding:10px 30px 10px 30px;
	width:510px;
	float:left;
}

.headline {
	padding: 20px 10px 20px 0px;
	text-align: left;
	font-family:'Georgia', Times, "Times New Roman", serif;
	font-size: 30px;
	font-style: bold;
	color:#4aaaa5;
	border-bottom-width: 2px;
	border-bottom-style: solid; 
	border-bottom-color: #dddddd;
}

.description {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	line-height: 1.5;
	padding:10px 0px 20px 0px;
}

img.me {
	margin:10px;
	float:left;
}

.sidebar {
	margin:40px 0px 0px 0px;
	padding:10px 30px 30px 30px;
	width:200px;
	height:150px;
	background-color:#ffffff;
	float:left;
}

.connect {
	font-family:'Georgia', Times, "Times New Roman", serif;
	font-size: 20px;
	font-style: bold;
	color:#4aaaa5;
	padding: 30px 10px 20px 0px;
	border-bottom-width: 2px;
	border-bottom-style: solid; 
	border-bottom-color: #dddddd;

}

.icons {
	padding:20px 10px 20px 0px;
}

#shorty {
	padding: 3px;
}

footer {
	text-align: center;
	background-color:#666666;
	padding: 40px 0px 40px 0px;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: small;
	border-top-width: 10px;
	border-top-style: solid; 
	border-top-color: #4aaaa5;
	clear: both;
}

input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 90px;
    height: 40px;
    background-color: #4aaaa5;
    color: white;
    padding: 10px 0px 10px 0px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    text-align:center;
}

input[type=submit]:hover {
    background-color: #7bc6c2
}

img.images {
	margin: 10px 0px 10px 0px;
	z-index:1;
	position: absolute;
}

.floater {
	background-color:#4aaaa5;
	font-size:17px;
	font-family:'Georgia', Times, "Times New Roman", serif;
	color: white;
	text-align: center;
	width:240px;
	margin:155px 0px 20px 0px;
	z-index:2;
	position:relative;
}

.box-right {
    width:240px;
    height:220px;
    float:right;
}

.box-left {
    width:240px;
    height:220px;
    float:left;
}
